#Ignore everything
*

#Whitelist directories
!/configuration/
!/configuration/doxygen/
!/library/
!/library/googletest/
!/library/googletest/**
!/library/nlohmann-json/
!/library/nlohmann-json/**
!/library/yaml-cpp/
!/library/yaml-cpp/**
!/project/
!/project/include/
!/project/include/core/
!/project/include/game/
!/project/include/user/
!/project/source/
!/project/source/core/
!/project/source/game/
!/project/source/user/
!/resource/
!/resource/font/
!/resource/image/
!/resource/rc/
!/resource/rc/**
!/resource/translation/
!/resource/xcf/
!/test/
!/test/include/
!/test/include/core/
!/test/include/game/
!/test/include/helper/
!/test/include/user/
!/test/source/
!/test/source/core/
!/test/source/game/
!/test/source/helper/
!/test/source/user/

#Whitelist files
!*.cpp
!*.hpp
!*.pro
!*.md
!*.doxyfile
!*.qrc
!*.qss
!.clang-format
!.gitattributes
!.gitignore
!.gitmodules
!.gitlab-ci.yml
!resource/font/*.ttf
!resource/image/*.png
!resource/image/*.jpg
!resource/image/*.ico
!resource/translation/*.ts
!resource/xcf/*.xcf
