#Ignore everything
*

#Whitelist directories
!/
!/library/
!/library/yaml-cpp/
!/library/yaml-cpp/**
!/resource/
!/resource/font/
!/resource/image/
!/resource/rc/
!/resource/rc/**
!/resource/translation/
!/resource/xcf/
!/src/
!/src/core/
!/src/game/
!/src/include/
!/src/setting/

#Whitelist files
!/.gitattributes
!/.gitignore
!/.gitmodules
!/core.pro
!/README.md
!/resource/core.qrc
!/resource/core.rc
!/resource/style.qrc
!/resource/style.qss
!/resource/font/Retro-Stereo-Wide.ttf
!/resource/image/add_plus_128x128.png
!/resource/image/ban_128x128.png
!/resource/image/dummycover.jpg
!/resource/image/dummyicon.png
!/resource/image/icon.ico
!/resource/image/logo_256x256.png
!/resource/image/logo_font_256x320.png
!/resource/image/trash_delete_128x128.png
!/resource/translation/core_de_DE.ts
!/resource/xcf/add_plus_128x128.xcf
!/resource/xcf/ban_128x128.xcf
!/resource/xcf/icon_256x256.xcf
!/resource/xcf/logo_256x256.xcf
!/resource/xcf/logo_font_256x320.xcf
!/resource/xcf/search_glass_128x128.xcf
!/resource/xcf/trash_delete_128x128.xcf
!/src/core/ltycore_global.hpp
!/src/game/Game.cpp
!/src/game/Game.hpp
!/src/game/GameList.cpp
!/src/game/GameList.hpp
!/src/game/GameVersion.cpp
!/src/game/GameVersion.hpp
!/src/include/ltycore.hpp
!/src/setting/Setting.cpp
!/src/setting/Setting.hpp