[submodule "library/yaml-cpp"]
	path = library/yaml-cpp
	url = ../../../library/yaml-cpp.git
[submodule "library/googletest"]
	path = library/googletest
	url = ../../../library/googletest.git
[submodule "library/nlohmann-json"]
	path = library/nlohmann-json
	url = git@gitlab.home:library/nlohmann-json.git
