#Ignore everything
*

#Whitelist directories
!/documentation/
!/library/
!/library/googletest/
!/library/googletest/**
!/project/
!/project/include/
!/project/include/core/
!/project/include/game/
!/project/include/network/
!/project/include/network/exploration/
!/project/include/network/message/
!/project/include/user/
!/project/source/
!/project/source/core/
!/project/source/game/
!/project/source/network/
!/project/source/network/exploration/
!/project/source/network/message/
!/project/source/user/
!/resource/
!/resource/font/
!/resource/image/
!/resource/rc/
!/resource/rc/**
!/resource/xcf/
!/test/
!/test/include/
!/test/include/core/
!/test/include/game/
!/test/include/helper/
!/test/include/user/
!/test/source/
!/test/source/core/
!/test/source/game/
!/test/source/helper/
!/test/source/user/

#Whitelist files
!CMakeLists.txt
!*.cpp
!*.hpp
!*.hpp.in
!*.pro
!*.md
!*.doxyfile.in
!*.qrc
!*.qss
!.clang-format
!.gitattributes
!.gitignore
!.gitmodules
!.gitlab-ci.yml
!resource/font/*.ttf
!resource/image/*.png
!resource/image/*.jpg
!resource/image/*.ico
!resource/translation/*.ts
!resource/xcf/*.xcf
